#!/bin/bash
export DB_HOST="${db_host}"
export DB_NAME="${db_name}"
export DB_USER="${db_user}"
export DB_PASSWORD="${db_password}"

apt-get update -y
apt-get install -y python3-flask python3-psycopg2 git

mkdir -p /home/ubuntu/backend
cd /home/ubuntu/backend

git clone https://github.com/joao-henrike/pipeline.git repo_temp
mv repo_temp/backend/server.py .
rm -rf repo_temp

nohup python3 server.py > /home/ubuntu/backend/backend.log 2>&1 &
